/* Navigation bar css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding-inline: 2%;
    height: 100px;
}

.logo {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-item {
    display: inline;
}

.nav-item a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.nav-item a:hover {
    color: #c966ff;/* Change to desired hover color */
}

/* Carousel Css */

.carouseContainer{
    display: flex;
    width: fit-content;
    padding: 2%;
    background-color: black;
    margin: 2%;
    border-radius: 2%;
    height: fit-content;
}

.carousel{
    width:fit-x;
    max-height: fit-content;
}
.carouselsidebar{
    width:45%;
    border-radius: 2%;
    background-color: white;
    color: black;
    margin-left: 2%;
    padding: 2%;
    text-overflow: clip;
    /* overflow: hidden; */
    max-height:100%;
}

.carouselImage{
    width: 100%;
    border-radius: 10px;
}


/* css for Footer */

.footerContainer{
    display: inline-flex;
    margin-top: 10%;
    width: fit-content;
}

.listContainer{
    margin-inline: 5%;
}
.footerUlist{
    margin-inline: 5%;
    width: max-content; 
}

.SearchBarContainer {
    display: flex;
}

.SearchBar{
}
.SearchBar input{
    width: fit-content;
    height: 35px;
    border-radius: 5px;
    background-color: #565656;
}

.SearchBarIcon{
    
}